.Cart {
    width: 400px;
    height: 300px;


}

.Cart_Heading {
    width: 100%;


}

.Cart_Heading_Title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1em;



}

.Cart_Body {

    height: 100%;
    padding: 10px;
    /* background-color: aliceblue;
    border: 10px solid #D4227D; */
    overflow: auto;

}

.Cart_Body>h5 {
    text-align: center;

}

.Cart_Footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #cea7bb;
    width: 400px;
    height: 50px;
}

#DltButtun {
    width: 100px;
    height: 40px;
    border: 3px solid #D4227D;
    background-color: aliceblue;
    border-radius: 20px;
    cursor: pointer;

}

#EditButtun {
    width: 100px;
    height: 40px;
    border: 3px solid #D4227D;
    background-color: aliceblue;
    border-radius: 20px;
    cursor: pointer;

}