.Cart {
    width: 400px;
    height: 300px;
    border-radius: 20px;
    margin: 50px;
}

.Cart_Heading {
    width: 100%;
    height: 100px;
    background-color: #D4227D;
    border-radius: 20px;
    color: aliceblue;

}

.Cart_Heading_Title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1em;
    font-size: 15px;
    padding: 10px;

}

.Cart_Body {

    height: 100%;
    padding: 10px;
    background-color: aliceblue;
    border: 10px solid #D4227D;
    overflow: auto;

}

.Cart_Body>h5 {
    text-align: center;

}