.Wrapper {
    height: 100vh;
    margin: 0%;
    padding: 0%;


}

.Wrapper_Header {
    width: 100%;
    height: 20vh;

}

.Wrapper_Cart {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    height: 70vh;
    align-items: center;
    gap: 20px;
    row-gap: 200px;

}

.Footer {
    width: 100%;
    height: 10vh;
    background-color: #D4227D;
}